<p-sidebar
  class="sidebar"
  [(visible)]="isSidebarVisible"
  [modal]="false"
  [showCloseIcon]="false"
  [style]="{ transition: 'all 1s ease' }"
>
  <ng-template pTemplate="header">
    <h4>Header Content</h4>
  </ng-template>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/page1" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
  </ul>
</p-sidebar>
